@media (min-width: 992px) { 
    .test{
        display: block};
    }
 .cartLogo,.loginLogo{
     color:#f33535;
 }
 .cartLogo:hover,.loginLogo:hover{
     cursor: pointer;
     color: black;
 }
.cartLogo{
    position: relative;
    left:20px;
}
.navItem li{
padding-bottom: 5px;
}